
:root[smart-window="true"] {
  color-scheme: light !important;
  --smart-window-border: #8a61ff;
  --smart-window-gradient: radial-gradient(at top left, rgba(255, 192, 203, 0.7), transparent 80%),
    radial-gradient(at bottom left, rgba(173, 216, 230, 0.5), transparent 60%),
    radial-gradient(at top right, rgba(255, 228, 196, 0.6), transparent 80%),
    linear-gradient(to bottom right, #fcefff, #fffdf5);
  background: var(--smart-window-gradient) !important;
  
  --toolbar-bgcolor: transparent !important;
  --tab-text-color: #5a3a6d !important;
  --tab-selected-textcolor: #5a3a6d !important;
  --toolbar-color-scheme: light !important;
  --toolbox-textcolor-inactive: #5a3a6d !important;
  --toolbar-textcolor: #5a3a6d !important;
  --toolbar-color: #5a3a6d !important;
  --toolbarbutton-icon-fill: #5a3a6d !important;
  --chrome-content-separator-color: rgba(138, 97, 255, 0.2) !important;
  --chrome-content-separator-color: none !important;
  --urlbar-text-color: #5a3a6d !important;
  --toolbar-field-color: #5a3a6d !important;
  --toolbar-field-focus-color: #5a3a6d !important;

  /* Ideally override this only on new tab */
  --tabpanel-background-color: transparent !important;
}
:root[smart-window="true"] #navigator-toolbox,
:root[smart-window="true"] #browser {
  background: none !important
}

/* Smart Window Toggle Button */
#smart-window-toggle {
  -moz-appearance: none;
  appearance: none;
  list-style-image: url("chrome://browser/skin/smart-window.svg");
}

#smart-window-toggle[checked] image {
  background: none !important;
}

/* Show Smart Window toggle in all non-private windows */
#smart-window-toggle {
  display: flex;
}

/* Hide in private windows */
:root[privatebrowsingmode="temporary"] #smart-window-toggle {
  display: none;
}

